
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_speech01{
	background-color: #652C8A !important;
}


#staticText1,#staticText2,#ID_txt01,#ID_txt04{
	
 text-shadow: 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF, 0 0 0.2em #FFFFFF;
}
#staticText2,#ID_txt05{background:#fff;}