
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');



#ID_s2_txt001 {
    letter-spacing: -0.1px;
    line-height: 12px;
}
#ID_s2_txt01{}
.mtable .mtable_top {
    background-color:transparent !important;
    color: #434321 !important;
    line-height: 2px;
    padding: 0;
}
 
font[face=_typewriter] {
font-family:"Courier New", Courier, monospace;
}