
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_txt02{
	margin-left: 7px !important;
	height: 22px;
	box-shadow: 2px 2px 1px #888;
	background-color: #fff !important;
	padding: 5px !important;
}